Repository Samar-Bons/snowflake-mcp-lambda: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, poetry-check, security-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Use local hooks to ensure exact CI parity
  - repo: local
    hooks:
      # Ruff - linting and formatting (exactly as CI runs it)
      - id: ruff-check
        name: ruff check
        entry: poetry run ruff check --output-format=concise
        language: system
        types: [python]
        require_serial: true
        args: [backend/]
        
      - id: ruff-format
        name: ruff format
        entry: poetry run ruff format --check
        language: system
        types: [python]
        require_serial: true
        args: [backend/]
      
      # MyPy - type checking (exactly as CI runs it)
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        require_serial: true
        args: [backend/]
        pass_filenames: false
      
      # Pytest - full test suite with coverage (exactly as CI runs it)
      - id: pytest
        name: pytest with coverage
        entry: poetry run pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [--cov=backend/app, --cov-report=term-missing, --cov-fail-under=85]
        stages: [commit]
      
      # Poetry check - ensure lock file is up to date
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml
      
      # Security check with bandit (via ruff S rules)
      - id: security-check
        name: security check
        entry: poetry run ruff check --select=S
        language: system
        types: [python]
        args: [backend/]

# Configuration to run all hooks
default_stages: [commit]
fail_fast: false  # Run all checks even if one fails

test: verify pre-commit hooks run automatically
  .pre-commit-config.yaml
  README.md
  backend/tests/test_config.py
  scripts/setup-dev.sh
Due: ruff-check, ruff-format, mypy, security-check

fix: achieve full CI parity with pre-commit hooks
  .github/workflows/ci.yml
Due: none

refactor: organize project structure and enhance README for AI-assisted development
  .gitignore
  CLAUDE.md
  README.md
  docs/README.md
  docs/planning/plan.md
  docs/planning/prompt_plan.md
  docs/planning/spec.md
  docs/planning/todo.md
  poetry.lock
Due: none

fix: resolve Poetry PATH issues in pre-commit hooks
  .pre-commit-config.yaml
  scripts/poetry-wrapper.sh
Due: none

fix: resolve Starlette security vulnerability CVE-2024-47874
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: implement simple configuration system
  .env.example
  backend/app/config/__init__.py
  backend/app/main.py
  backend/tests/test_config.py
  backend/tests/test_env_file_loading.py
  backend/tests/test_integration.py
  backend/tests/test_main_config_integration.py
  backend/tests/test_simple_config.py
Due: ruff-check, ruff-format, mypy, security-check

docs: update project status after configuration system completion
  docs/planning/todo.md
Due: none

feat: implement database foundation with SQLAlchemy and health checks
  backend/app/config/__init__.py
  backend/app/core/__init__.py
  backend/app/core/database.py
  backend/app/health.py
  backend/tests/test_database.py
  backend/tests/test_health.py
  backend/tests/test_main.py
  backend/tests/test_main_config_integration.py
  backend/tests/test_simple_config.py
Due: ruff-check, ruff-format, mypy, security-check

feat: implement Google OAuth integration with user management
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/001_add_user_table.py
  backend/app/auth/endpoints.py
  backend/app/auth/jwt_utils.py
  backend/app/auth/oauth_service.py
  backend/app/auth/user_service.py
  backend/app/config/__init__.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/models/user.py
  backend/tests/test_auth_endpoints.py
  backend/tests/test_config_oauth.py
  backend/tests/test_oauth_service.py
  backend/tests/test_user_model.py
  poetry.lock
  pyproject.toml
Due: ruff-check, ruff-format, mypy, poetry-check, security-check

test: add comprehensive user service tests to reach 85% coverage
  backend/tests/test_user_service.py
Due: ruff-check, ruff-format, mypy, security-check

fix: resolve mypy type checking errors
  backend/app/auth/endpoints.py
  backend/app/auth/oauth_service.py
  backend/app/models/base.py
  backend/app/models/user.py
  backend/tests/test_auth_endpoints.py
  backend/tests/test_config_oauth.py
  backend/tests/test_oauth_service.py
  backend/tests/test_user_model.py
Due: ruff-check, ruff-format, mypy, security-check

feat: implement Gemini LLM integration and NL→SQL pipeline
  README.md
  backend/app/config/__init__.py
  backend/app/llm/endpoints.py
  backend/app/llm/gemini_service.py
  backend/app/main.py
  backend/app/snowflake/schema_service.py
  backend/tests/test_chat_endpoints.py
  backend/tests/test_config_gemini.py
  backend/tests/test_gemini_service.py
  backend/tests/test_schema_service.py
  docs/planning/prompt_plan.md
Due: ruff-check, ruff-format, mypy, security-check

feat: implement Phase P3 - LLM + Query Pipeline
  README.md
  backend/app/llm/endpoints.py
  backend/app/llm/gemini_service.py
  backend/tests/test_chat_endpoints.py
  backend/tests/test_schema_service.py
Due: ruff-check, ruff-format, mypy, security-check

docs: update project status after Phase P3 completion
  README.md
Due: none

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

test: add basic connection service tests (TDD red-green cycle 1)
  backend/app/snowflake/connection_service.py
  backend/tests/test_connection_service.py
Due: ruff-check, ruff-format, mypy, security-check

test: add connection endpoint test (TDD red-green cycle 2)
  backend/app/main.py
  backend/app/snowflake/connection_service.py
  backend/app/snowflake/endpoints.py
  backend/tests/test_connection_endpoints.py
  backend/tests/test_connection_service.py
Due: ruff-check, ruff-format, mypy, security-check

feat: implement AES-256 encryption for connection parameters
  backend/alembic/versions/002_add_snowflake_connections.py
  backend/app/auth/endpoints.py
  backend/app/auth/jwt_utils.py
  backend/app/health.py
  backend/app/llm/endpoints.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/models/connection.py
  backend/app/models/user.py
  backend/app/snowflake/connection_service.py
  backend/tests/test_connection_service.py
  backend/tests/test_health.py
  docs/planning/todo.md
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  poetry.lock
  pyproject.toml
Due: ruff-check, ruff-format, mypy, poetry-check, security-check

feat: add comprehensive Docker development environment
  .env.example
  Makefile
  README.md
  backend/Dockerfile.dev
  docker-compose.yml
  docs/planning/plan.md
  docs/planning/prompt_plan.md
  docs/planning/todo.md
  frontend/Dockerfile.dev
  scripts/init-db.sql
Due: none

docs: mark Docker Compose setup as completed in plan.md
  docs/planning/plan.md
Due: none

docs: update prompt_plan.md and todo.md to reflect Docker setup completion
  docs/planning/prompt_plan.md
  docs/planning/todo.md
Due: none

security: remove hardcoded passwords and improve environment variable handling
  .env.example
  Makefile
  README.md
  docker-compose.yml
Due: none

fix: improve Docker cleanup commands to be project-scoped
  Makefile
Due: none

perf: optimize Docker builds with .dockerignore and improved layer caching
  README.md
  backend/Dockerfile
  backend/Dockerfile.dev
  frontend/Dockerfile.dev
Due: none

perf: add comprehensive .dockerignore files for backend and frontend
  backend/.dockerignore
  frontend/.dockerignore
Due: none

fix: allow .dockerignore files to be version controlled
  .gitignore
Due: none

fix: correct volume mappings for Poetry virtual environment
  README.md
  docker-compose.yml
Due: none

fix: improve service dependencies and eliminate race conditions
  Makefile
  README.md
  docker-compose.yml
Due: none

fix: ensure curl availability for health checks and improve reliability
  Makefile
  README.md
  docker-compose.yml
  frontend/Dockerfile.dev
Due: none

fix: add security-events permission for Trivy SARIF upload
  .github/workflows/ci.yml
Due: none

docs: add security policy and vulnerability scanning documentation
  .github/SECURITY.md
Due: none

feat: implement frontend skeleton with auth flow (Prompt 10)
  frontend/.env.example
  frontend/cypress.config.ts
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/auth/LoginButton.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/UserMenu.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/test/LoginPage.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types/api.ts
  frontend/src/types/auth.ts
  frontend/src/utils/env.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: none

perf: optimize AuthContext to prevent unnecessary re-renders
  frontend/src/hooks/useAuth.tsx
Due: none

refactor: improve auth state management and error handling
  frontend/cypress.config.ts
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/auth/LoginButton.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/services/api.ts
  frontend/src/types/auth.ts
  frontend/src/utils/auth-events.ts
Due: none

Update Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Update Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

refactor: improve UX, maintainability, and type safety
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/LoginButton.tsx
  frontend/src/components/auth/UserMenu.tsx
  frontend/src/components/icons/ChatIcon.tsx
  frontend/src/components/icons/ChevronDownIcon.tsx
  frontend/src/components/icons/GoogleIcon.tsx
  frontend/src/components/icons/index.ts
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/hooks/useClickOutside.ts
  frontend/src/services/api.ts
  frontend/src/types/api.ts
  frontend/src/utils/cn.ts
Due: none

Refactor code structure for improved readability and maintainability
  .github/workflows/claude-code-review.yml
Due: none

revrt
  .github/workflows/claude-code-review.yml
Due: none
