Repository Samar-Bons/snowflake-mcp-lambda: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, poetry-check, security-check

ruff-check:
  name: ruff check
  entry: poetry run ruff check --output-format=concise
  language: system
  require_serial: true
  args:
  - backend/

ruff-format:
  name: ruff format
  entry: poetry run ruff format --check
  language: system
  require_serial: true
  args:
  - backend/

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true
  args:
  - backend/
  pass_filenames: false

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

security-check:
  name: security check
  entry: poetry run ruff check --select=S
  language: system
  args:
  - backend/

Revert GitHub Actions changes to avoid conflicts with main
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Remove automated Claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

Complete Chat UI Implementation - Prompt 11 Finished
  docs/planning/PROJECT_STATUS.md
  docs/planning/plan.md
  docs/planning/prompt_plan.md
  docs/planning/todo.md
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/PromptInput.tsx
  frontend/src/components/chat/ResultsTable.tsx
  frontend/src/components/chat/SQLConfirmationModal.tsx
  frontend/src/components/schema/SchemaSidebar.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/services/chat.ts
  frontend/src/test/ChatWindow.test.tsx
  frontend/src/types/api.ts
  frontend/src/types/chat.ts
Due: none

refactor: move Poetry files to backend/ and improve dev workflow
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
  backend/Dockerfile.dev
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.prod.yml
  frontend/Dockerfile.dev
  scripts/poetry-wrapper.sh
  scripts/setup-docker-dev.sh
Due: poetry-check

fix: update GitHub Actions CI to work with backend/ Poetry structure
  .github/workflows/ci.yml
Due: none

docs: update planning for extensible file processing + visual-driven development
  docs/planning/PROJECT_STATUS.md
  docs/planning/plan.md
  docs/planning/prompt_plan.md
Due: none

docs: add remaining planning documentation and UI specifications
  CLAUDE.md
  README.md
  docs/planning/spec.md
  docs/planning/spec_v2.md
  docs/ui/style.md
Due: none

Implement Prompt 11: Extensible Backend Foundation for CSV File Processing
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  backend/app/core/database.py
  backend/app/data/__init__.py
  backend/app/data/endpoints.py
  backend/app/data/sqlite_adapter.py
  backend/app/llm/endpoints.py
  backend/app/main.py
  backend/app/services/csv_processor.py
  backend/app/services/file_management.py
  backend/app/services/file_processor.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_chat_endpoints.py
  backend/tests/test_config_gemini.py
  backend/tests/test_gemini_service.py
  templates/chat.html
  templates/connect_db.html
  templates/landing.html
  templates/upload_data.html
Due: ruff-check, ruff-format, mypy, poetry-check, security-check

Fix pre-commit and linting configuration for proper file structure
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: poetry-check

Enhance pre-commit hooks with infrastructure and documentation checks
  .pre-commit-config.yaml
Due: none

Sync OpenAPI specification with MVP reality and complete backend improvements
  API_CONTRACT.md
  CORRECTED_OPENAPI.md
  backend/app/auth/endpoints.py
  backend/app/core/database.py
  backend/app/data/endpoints.py
  backend/app/data/sqlite_adapter.py
  backend/app/llm/endpoints.py
  backend/app/services/csv_processor.py
  backend/app/services/file_management.py
  backend/pyproject.toml
Due: ruff-check, ruff-format, mypy, poetry-check, security-check

feat: Complete frontend UI component implementation
  .pre-commit-config.yaml
  frontend/Dockerfile.dev
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/data/DataResults.tsx
  frontend/src/components/data/SchemaPreview.tsx
  frontend/src/components/processing/ProcessingScreen.tsx
  frontend/src/components/schema/SchemaSidebar.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/ErrorBoundary.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/upload/FileUploadZone.tsx
  frontend/src/components/upload/__tests__/FileUploadZone.test.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/__tests__/fileUpload.test.ts
  frontend/src/services/adapters.ts
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/chat.ts
  frontend/src/services/fileUpload.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.tsx
  frontend/src/types/index.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

feat: Complete service integrations and API layer
  backend/app/core/database.py
  backend/app/services/file_management.py
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/services/adapters.ts
Due: ruff-check, ruff-format, mypy, security-check

fix: Resolve all TypeScript errors and update test infrastructure
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/app/core/database.py
  backend/app/services/file_management.py
  backend/tests/test_auth_endpoints.py
  backend/tests/test_chat_endpoints.py
  docs/DOCKER_LOCAL_POETRY_SEPARATION_FIX.md
  docs/POETRY_ENVIRONMENT_CONSISTENCY_FIX.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/data/DataResults.tsx
  frontend/src/components/data/SchemaPreview.tsx
  frontend/src/components/processing/ProcessingScreen.tsx
  frontend/src/components/schema/SchemaSidebar.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/upload/__tests__/FileUploadZone.test.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/adapters.ts
  frontend/src/services/api.ts
  frontend/src/services/chat.ts
  frontend/src/services/fileUpload.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.tsx
  frontend/src/types/index.ts
  scripts/poetry-wrapper.sh
Due: ruff-check, ruff-format, mypy, security-check

fix: Fix remaining frontend test failures and ESLint issues
  .gitignore
  .pre-commit-config.yaml
  frontend/.eslintrc.json
  frontend/src/components/data/DataResults.tsx
  frontend/src/components/data/SchemaPreview.tsx
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/fileUpload.ts
Due: none

test: Add comprehensive tests for SQLite adapter and CSV processor
  backend/app/data/sqlite_adapter.py
  backend/tests/test_csv_processor.py
  backend/tests/test_sqlite_adapter.py
  docs/TEST_COVERAGE_ANALYSIS.md
Due: ruff-check, ruff-format, mypy, security-check

test: Add comprehensive tests achieving 88% backend coverage
  .pre-commit-config.yaml
  backend/tests/test_data_endpoints.py
  backend/tests/test_file_management.py
Due: ruff-check, ruff-format, mypy, security-check

fix: Fix auth-related test failures and re-enable pytest pre-commit hook
  .pre-commit-config.yaml
  backend/tests/test_data_endpoints.py
Due: ruff-check, ruff-format, mypy, security-check

chore: Align Docker test commands with CI and pre-commit hooks
  Makefile
  docs/TEST_COMMAND_COMPARISON.md
Due: none

feat: Add frontend test commands to Docker and create CI workflow
  .github/workflows/frontend-ci.yml
  Makefile
  docs/TEST_COMMAND_COMPARISON.md
Due: none

fix: Remove max-warnings flag from ESLint to fix CI
  .pre-commit-config.yaml
  frontend/package.json
Due: none

fix: Address critical security vulnerabilities and improve code quality
  backend/app/data/endpoints.py
  backend/app/data/sqlite_adapter.py
  backend/app/main.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_sqlite_adapter.py
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/chat.ts
  frontend/src/services/fileUpload.ts
  frontend/src/utils/id.ts
Due: ruff-check, ruff-format, mypy, poetry-check, security-check

docs: Organize and streamline project documentation
  docs/PROJECT_STATUS.md
  docs/README.md
  docs/archive/CORRECTED_OPENAPI.md
  docs/archive/plan.md
  docs/archive/prompt_plan.md
  docs/archive/spec.md
  docs/archive/spec_v2.md
  docs/archive/todo.md
  docs/planning/PROJECT_STATUS.md
Due: none

claude.md
  CLAUDE.md
Due: none

fix: Update CSS import paths, adjust Vite configuration for backend proxy, and enhance Docker setup
  backend/app/llm/endpoints.py
  docker-compose.yml
  frontend/src/index.css
  frontend/styleGuide/script.js
  frontend/styleGuide/style-guide.html
  frontend/styleGuide/styles.css
  frontend/vite.config.ts
  setup-dev-environment.sh
Due: ruff-check, ruff-format, mypy, security-check

feat: Simplify file display names throughout UI with duplicate handling
  .pre-commit-config.yaml
  backend/app/data/endpoints.py
  backend/tests/test_data_endpoints.py
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/schema/SchemaSidebar.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/services/adapters.ts
  frontend/src/utils/__tests__/fileUtils.test.ts
  frontend/src/utils/fileUtils.ts
Due: ruff-check, ruff-format, mypy, security-check

fix: Make pre-commit hooks exactly match GitHub Actions CI
  .pre-commit-config.yaml
  backend/app/data/endpoints.py
Due: ruff-check, ruff-format, mypy, security-check

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  poetry-check: any of: pyproject.toml
  security-check: any of: \.py$
